# The port on which your application will run
# Example: 3000 or 5000
APP_PORT=""

# MongoDB connection string (local or cloud)
# Localhost Example: mongodb://localhost:27017/mydb
# Atlas Example (Atlas): mongodb+srv://username:password@cluster.mongodb.net/dbname
MONGODB_URI=""

# Allowed origin for CORS (frontend URL)
# Localhost Example: http://localhost:3000
# Atlas Example: https://yourdomain.com
CORS_ORIGIN=""

# Secret key used to sign access tokens (keep this secure)
# Example: a long random string
ACCESS_TOKEN_SECRET=""

# Expiry time for access tokens
# Example: 15m (15 minutes), 1h (1 hour)
ACCESS_TOKEN_EXPIRY=""

# Secret key used to sign refresh tokens (keep this secure and different from access secret)
REFRESH_TOKEN_SECRET=""

# Expiry time for refresh tokens
# Example: 7d (7 days), 30d (30 days)
REFRESH_TOKEN_EXPIRY=""
